<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <!-- Messages de succès -->
    <% if (success_msg && success_msg.length > 0) { %>
        <ul style="color: green;">
            <% success_msg.forEach(function(msg) { %>
                <li><%= msg %></li>
            <% }); %>
        </ul>
    <% } %>

    <!-- Messages d'erreur -->
    <% if (error_msg && error_msg.length > 0) { %>
        <ul style="color: red;">
            <% error_msg.forEach(function(msg) { %>
                <li><%= msg %></li>
            <% }); %>
        </ul>
    <% } %>

    <% if (error && error.length > 0) { %>
        <ul style="color: red;">
            <% error.forEach(function(msg) { %>
                <li><%= msg %></li>
            <% }); %>
        </ul>
    <% } %>

    <!-- Formulaire de connexion -->
    <form id="MyForm" action="/users/login" method="post">

        <label for="email">Email :</label>
        <input type="text" id="email" name="email" required><br><br>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Connexion</button>

        <a href="/users/register">Pas de compte ? Inscrivez-vous</a>
    </form>

</body
